:root {
  --dark-black: #575757;
  --black: #424242;
  --gray-letter: #b0b0b0;
  --gray-background: #f5f5f5;
  --yellow: #fcd451;
  --orange: #ffa12f;
  --light-green: #d0db80;
  --skyblue: #5adeea;
  --brown: #aa8b6e;
  --red: #f56775;
}
